/* General Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f6f8; 
}

header {
    width: 100%;
    background-color:  #ffffff; 
    color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
nav ul li {
    margin: 0;
    position: relative; 
}

nav ul li a {
    color: #333; 
    text-decoration: none;
    padding: 12px 20px; 
    display: flex;
    align-items: center;
    font-size: 1em; 
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    transform: scale(1.05);
}
nav ul li a i {
    margin-right: 8px;
}

/* Submenu Styles */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    border-radius: 4px;
    min-width: 200px;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li:hover .submenu {
    display: block;
}

.submenu li {
    padding: 8px 16px;
}

.submenu li a {
    color: #fff;
}

/* Completion Container */
.completion-container {
    margin: 80px auto;
    padding: 20px;
    max-width: 800px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.ticket-details {
    margin-bottom: 20px;
}

.ticket-details p {
    margin: 8px 0;
}

.rating-stars {
    font-size: 24px;
}

#export-button,
#back-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #0078d4; 
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#export-button:hover,
#back-button:hover {
    background-color: #005a9e;
}
