body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header and Navigation Styles */
header {
    width: 100%;
    background-color: #ffffff; 
    color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

nav ul li {
    margin: 0;
    position: relative; 
}

nav ul li a {
    color: #333; 
    text-decoration: none;
    padding: 12px 20px; 
    display: flex;
    align-items: center;
    font-size: 1em; 
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    transform: scale(1.05);
}

nav ul li a i {
    margin-right: 8px;
}

/* Submenu Styles */
.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background: #ffffff; 
    border-radius: 4px;
    min-width: 200px;
    z-index: 1000;
    padding: 0; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.submenu li {
    margin: 0;
}

.submenu li a {
    padding: 10px 15px; 
    display: block;
    color: #333; 
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.submenu li a:hover {
    background-color: #f1f3f5; 
    color: #333; 
}

/* Restore Specific Style for "Report" Submenu */
nav ul li.reports:hover .submenu {
    background: #ffffff; 
    border: 1px solid #e0e0e0;
}

nav ul li.reports .submenu li a:hover {
    background-color: #f1f3f5; 
    color: #333; 
}

/* Show submenu on hover */
nav ul li:hover .submenu {
    display: block;
}

/* Process Page Background */
.process-background {
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    padding: 20px;
}

/* Center align the .process-content box */
.process-content {
    max-width: 1080px;
    width: 100%; 
    padding: 10px;
    background: #ffffff; 
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: left; 
    box-sizing: border-box; 
    position: relative;
}

/* Process Content Title and List */
.process-content h1 {
    margin-bottom: 20px;
    text-align: center; 
    width: 100%
}

.process-list {
    list-style: none;
    padding: 0;
}

.process-list li {
    margin-bottom: 10px;
}

.process-list a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.process-list a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    padding: 15px;
    background-color: #ffffff;
    color: #333; 
    text-align: center;
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0; 
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 0.9em;
}
